@charset "UTF-8";

#search-table {
	border-collapse: collapse;
	width: 90%;
	height: 100%;
	margin: 10px auto;
	border-bottom: 1px solid #ddd;
	background-color: white;
}

#search-table td, #search-table th {
	white-space: nowrap;
	text-align: left;
	padding: 8px;
	vertical-align: top;
}
